<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="grid">
    <p-toast></p-toast>
    <div class="lg:col-12" [ngStyle]="{'background-color': 'white', 'border-radius': '10px', 'padding': '20px', 'margin': '10px', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.2)', 'width': '100%','display': 'flex', 'flex-direction': 'row', 'justify-content': 'space-between'}">
      <div>
        <h1>Add Product</h1>
      </div>
      <p-button label="Add Product" severity="success" type="submit" [disabled]="isFormInvalid" pRipple />
    </div>
    <div class="lg:col-8">
      <div [ngStyle]="{'background-color': 'white', 'border-radius': '10px','padding':'20px','margin': '10px', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.2)'}">
        <h2 style="padding: 20px;">General Information</h2>
        <div>
          <h5 style="padding: 10px;">Product Name</h5>
          <div class="grid card flex flex-wrap justify-between items-end gap-8">
            <div style="flex: 1;" formGroupName="title">
              <p-floatlabel variant="in">
                <input pInputText id="title_en" formControlName="en" style="width: 100%;" />
                <label for="title_en">Product Name (EN)</label>
              </p-floatlabel>
            </div>
            <div style="flex: 1;" formGroupName="title">
              <p-floatlabel variant="in">
                <input pInputText id="title_ar" formControlName="ar" style="width: 100%;" />
                <label for="title_ar">Product Name (AR)</label>
              </p-floatlabel>
            </div>
          </div>
          <div>
            <h5 style="padding-top: 30px;">Product Description(EN)</h5>
            <div formGroupName="description">
              <p-editor formControlName="en" [style]="{ height: '200px' }" />
            </div>
          </div>
          <div>
            <h5 style="padding-top: 20px;">Product Description(AR)</h5>
            <div formGroupName="description">
              <p-editor formControlName="ar" [style]="{ height: '200px' }" />
            </div>
          </div>
        </div>
      </div>

      <div [ngStyle]="{'background-color': 'white', 'border-radius': '10px', 'padding':'20px','margin': '10px', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.2)'}">
        <h2 style="padding: 20px;">Price & Quantity</h2>
        <div class="flex flex-wrap gap-4" style="padding-top: 10px;">
          <div class="flex-auto">
            <p-floatlabel variant="on">
              <p-inputnumber formControlName="price" inputId="price" mode="currency" currency="USD" locale="en-US" />
              <label for="price">Base Price</label>
            </p-floatlabel>
          </div>
        </div>
        <div class="flex flex-wrap gap-4" style="padding-top: 10px;">
          <div class="flex-auto">
            <p-floatlabel variant="on">
              <p-inputnumber formControlName="discountPrice" inputId="discountPrice" prefix="%" locale="en-US" />
              <label for="discountPrice">Discount Price</label>
            </p-floatlabel>
          </div>
          <div class="flex-auto">
            <p-floatlabel variant="on">
              <p-inputnumber formControlName="quantity" inputId="quantity" />
              <label for="quantity">Quantity</label>
            </p-floatlabel>
          </div>
        </div>
      </div>

      <div [ngStyle]="{'background-color': 'white', 'border-radius': '10px', 'padding':'20px','margin': '10px', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.2)'}">
        <h2 style="padding: 20px;">Product Variants</h2>
        <div style="padding: 20px;">
          <label style="padding: 10px;">Product Type</label>
          <select style="padding: 5px;" formControlName="productType">
            <option value="simple">Simple</option>
            <option value="variant">Variant</option>
          </select>
        </div>
        <div class="grid gap-4" style="padding: 20px;" *ngIf="productForm.get('productType')?.value === 'variant'">
          <h4>Variants</h4>
          <p-button label="Add Variant" [rounded]="true" severity="success" (click)="addVariant()" />
          <div *ngIf="variants.controls.length > 0" formArrayName="variants">
            <div
              *ngFor="let variant of variants.controls; let i = index; trackBy: trackByFn"
              [formGroupName]="i"
              [ngStyle]="{'background-color': 'rgb(218, 215, 215)', 'border-type': 'solid', 'border-radius': '10px', 'padding': '20px', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.2)', 'margin-bottom': '20px'}"
            >
              <div style="display: flex; justify-content: space-between;">
                <h4 style="text-align: center; color: rgb(36, 146, 36);">Variant {{ i + 1 }}</h4>
                <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" (click)="removeVariant(i)" />
              </div>
              <div formGroupName="title" class="card flex flex-wrap justify-between items-end gap-2">
                <div style="flex: 1;">
                  <p-floatlabel variant="on">
                    <input pInputText id="variant_title_en_{{i}}" formControlName="en" />
                    <label for="variant_title_en_{{i}}">Product Name (EN)</label>
                  </p-floatlabel>
                </div>
                <div style="flex: 1;">
                  <p-floatlabel variant="on">
                    <input pInputText id="variant_title_ar_{{i}}" formControlName="ar" />
                    <label for="variant_title_ar_{{i}}">Product Name (AR)</label>
                  </p-floatlabel>
                </div>
              </div>
              <div class="card flex flex-wrap justify-between items-end gap-2" style="padding: 10px;">
                <p-floatlabel variant="on" style="flex: 1;">
                  <p-inputnumber formControlName="price" inputId="variant_price_{{i}}" mode="currency" currency="USD" locale="en-US" />
                  <label for="variant_price_{{i}}">Price</label>
                </p-floatlabel>
                <p-floatlabel variant="on" style="flex: 1;">
                  <p-inputnumber formControlName="discountPrice" inputId="variant_discountPrice_{{i}}" prefix="%" locale="en-US" />
                  <label for="variant_discountPrice_{{i}}">Discount Price</label>
                </p-floatlabel>
                <p-floatlabel variant="on" style="flex: 1;">
                  <p-inputnumber formControlName="quantity" inputId="variant_quantity_{{i}}" />
                  <label for="variant_quantity_{{i}}">Quantity</label>
                </p-floatlabel>
              </div>
              <div class="card flex flex-wrap justify-between items-end gap-2" style="padding: 10px;">
                <div style="flex: 1;">
                  <label>Main Image</label>
                  <input type="file" (change)="uploadImage($event, 'mainImage', i)" />
                </div>
                <div style="flex: 1;">
                  <label>Images</label>
                  <input type="file" multiple (change)="uploadImages($event, 'images', i)" />
                </div>
              </div>
              <div style="padding: 10px;">
                <h5 style="text-align: center; padding: 10px; color: rgb(36, 100, 146);">Attributes</h5>
                <div style="padding: 10px; text-align: center;">
                  <p-button label="Add Attribute" [raised]="true" severity="info" (click)="addAttribute(i)" />
                </div>
                <div *ngIf="getAttributes(i).controls.length > 0" formArrayName="attributes">
                  <div
                    *ngFor="let attr of getAttributes(i).controls; let attrIndex = index"
                    [formGroupName]="attrIndex"
                    class="card flex flex-wrap justify-center items-end"
                    style="margin: 10px; border: 1px dashed rgb(9, 103, 105); padding: 4px; border-radius: 5px;"
                  >
                    <div class="flex-auto">
                      <p-floatlabel variant="on">
                        <input pInputText id="attr_key_{{i}}_{{attrIndex}}" formControlName="key" pSize="small"  />
                        <label for="attr_key_{{i}}_{{attrIndex}}">Attribute Key (e.g., color)</label>
                      </p-floatlabel>
                    </div>
                    <div class="flex-auto">
                      <p-floatlabel variant="on">
                        <input pInputText id="attr_value_{{i}}_{{attrIndex}}" formControlName="value" pSize="small"  />
                        <label for="attr_value_{{i}}_{{attrIndex}}">Attribute Value (e.g., red)</label>
                      </p-floatlabel>
                    </div>
                    <div class="flex-auto">
                      <p-button icon="pi pi-save" label="Save" severity="success" size="small" (click)="saveAttribute(i, attrIndex)" [disabled]="!attr.valid" />
                    </div>
                    <div class="flex-auto">
                      <p-button icon="pi pi-trash" label="Delete" severity="danger" size="small" (click)="removeAttribute(i, attrIndex)" />
                    </div>
                  </div>
                  <p-message severity="error"  *ngIf="getAttributes(i).invalid && getAttributes(i).touched"></p-message>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:col-4">
      <div [ngStyle]="{'background-color': 'white', 'border-radius': '10px', 'padding':'20px', 'margin-top': '10px', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.2)'}">
        <h2 style="padding: 20px;">Product Media</h2>
        <div class="grid card flex flex-wrap justify-between items-end gap-3">
          <div>
            <label>Main Image : </label>
            <input type="file" (change)="uploadImage($event, 'mainImage')" />
          </div>
          <div>
            <label>Images : </label>
            <input type="file" multiple (change)="uploadImages($event, 'images')" />
          </div>
        </div>
      </div>

      <div [ngStyle]="{'background-color': 'white', 'border-radius': '10px', 'padding':'20px', 'margin-top': '10px', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.2)'}">
        <h2 style="padding: 20px;">Product Category</h2>
        <div class="card flex flex-wrap justify-between items-end gap-2">
          <div class="flex-auto">
            <label for="categoryId">Category</label>
            <select id="categoryId" formControlName="categoryId" style="width: 100%;">
              <option *ngFor="let category of categories" [value]="category.categoryId">
                {{ category.name.en }}
              </option>
            </select>
          </div>
          <div class="flex-auto">
            <label for="subCategoryId">Subcategory</label>
            <select id="subCategoryId" formControlName="subCategoryId" style="width: 100%;">
              <option *ngFor="let subcategory of subcategories" [value]="subcategory.subcategoryId">
                {{ subcategory.name.en }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div [ngStyle]="{'background-color': 'white', 'border-radius': '10px', 'padding':'20px', 'margin-top': '10px', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.2)'}">
        <h2 style="padding: 20px;">Product Tags</h2>
        <div class="card flex flex-wrap justify-between items-end gap-2">
          <div class="flex-auto">
            <p-floatlabel variant="in">
              <input pInputText id="tags" formControlName="tags" style="width: 100%;" />
              <label for="tags">Tags (e.g., tag1,tag2)</label>
            </p-floatlabel>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
