/* ::ng-deep .ql-toolbar {
  background-color: #f1f1f1 !important;
  border: 1px solid #ccc !important;
  color: #000 !important;
}

::ng-deep .ql-toolbar .ql-formats button {
  color: #000 !important;
  fill: #000 !important;
} */
.card {
  background-color: gray;
}
