<div class="side-bar">
  <div class="side-bar__header">
    <h1>Dashboard</h1>
  </div>
  <div class="side-bar__content">
    <h2>Products</h2>
    <div>
      <ul>
        <li>
          <a routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li>
          <a routerLink="/add-product" routerLinkActive="active">Add Product</a>
        </li>
        <li>
          <a routerLink="/orders" routerLinkActive="active">Orders</a>
        </li>
      </ul>
    </div>
    <h2>Categories</h2>
    <div>
      <ul>
        <li>
          <a routerLink="/categories" routerLinkActive="active">Categories</a>
        </li>
        <li>
          <a routerLink="/add-category" routerLinkActive="active"
            >Add Category</a
          >
        </li>
      </ul>
    </div>
  </div>

  <p-tree [value]="files" styleClass="w-full md:w-[30rem]" />
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas earum cum
  illum obcaecati aliquid. Natus, nulla. Dolor perspiciatis unde nostrum,
  consequuntur aliquam saepe maxime iusto modi architecto non maiores
  repellendus tempora iste dolores et delectus, quasi vitae! Consequuntur
  voluptas, libero quo voluptate odio modi beatae ex vitae soluta nemo facere
  qui aperiam a ratione minima repellat tempore veniam id natus! Neque iusto
  laudantium excepturi dolorem suscipit iure placeat quibusdam, numquam
  accusamus, incidunt, voluptatem sapiente officia adipisci totam. Consequatur
  asperiores minus fuga corrupti dignissimos autem voluptatem illum, nobis omnis
  obcaecati saepe voluptatibus quia ducimus rerum molestias ea deleniti minima
  quod blanditiis! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Dolore, id laboriosam deleniti, repellat magnam quisquam ut quidem commodi
  cumque doloremque aut suscipit sed rerum reprehenderit minima adipisci eaque
  itaque sequi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus
  ab nam reiciendis tempore asperiores, quibusdam adipisci architecto alias
  exercitationem doloribus, vero porro laudantium sunt amet beatae incidunt
  totam. Obcaecati, consequatur Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Tempora exercitationem dicta cupiditate numquam quibusdam
  corrupti ullam aliquid ipsam odit nam vel modi quisquam ducimus error amet
  dolore inventore natus officia quaerat, quasi, explicabo, qui itaque! Nemo
  dolorem voluptatum voluptates ea dignissimos? Magni laborum exercitationem
  saepe voluptates ipsa. Aut, officiis? Vel excepturi, veniam reprehenderit ex
  est sit accusantium atque labore facere! Accusamus veniam vitae tenetur totam
  reiciendis possimus aperiam sapiente culpa sed voluptas officia maxime
  incidunt porro magni quaerat, natus accusantium praesentium voluptatem
  mollitia asperiores molestiae corporis recusandae voluptatibus ab. Eius,
  quaerat. Distinctio perspiciatis quibusdam enim sequi eum nobis earum ratione
  ab quasi? Reiciendis voluptas saepe sapiente iure asperiores a doloribus ad,
  quisquam aliquam, totam, labore deserunt impedit facere! Accusamus ipsum
  facilis iure. Sint eius dolorem quam asperiores, quia distinctio facere?
  Perspiciatis laudantium est veritatis id modi. Voluptatum earum nihil tempora
  et modi vero nulla praesentium, corporis numquam quia qui officiis consectetur
  dignissimos quis! At temporibus nisi a facere dolores tempora neque vel
  ducimus quam, est ullam blanditiis consequuntur perferendis? Ad dignissimos
  dolores veritatis cumque esse. Rem omnis hic praesentium harum error expedita
  quisquam blanditiis dolor illum sit eveniet qui doloremque explicabo, tempora
  ipsam perspiciatis ab illo, assumenda ducimus. Fugiat aliquam sint mollitia,
  ratione aperiam accusantium tenetur praesentium quaerat quas, eum voluptatibus
  numquam. Excepturi quis sed aspernatur modi tenetur vero quo veniam. Aliquam
  nostrum minus quod ipsam quo dolorem fugit ea culpa, placeat temporibus qui
  quisquam corrupti vitae omnis soluta sit modi, nobis praesentium
  reprehenderit. Ipsa, possimus molestiae, aliquid eos amet alias quasi vitae
  minima quam nulla dolor debitis libero eum consequatur dolores natus! Rerum
  repellat neque excepturi omnis! Molestias qui alias libero error reprehenderit
  soluta quam ipsum est, ab perspiciatis quae porro ea facere dolores nam sint
  adipisci maxime sequi. Odit ipsa vero possimus, commodi neque nesciunt fugit
  non quasi quisquam deleniti, doloribus itaque eligendi nisi architecto
  molestias voluptas inventore! Quibusdam, nam magnam culpa necessitatibus
  recusandae et molestias quos nisi eos porro voluptas est libero esse odit non
  eligendi cum commodi nemo debitis odio temporibus laborum? Recusandae illo
  aliquid debitis, velit quasi hic nulla. Minus officiis autem consequatur
  repudiandae culpa voluptatum animi reprehenderit quae soluta fugit illum
  officia nihil iure accusantium magni doloribus itaque, fuga quaerat obcaecati
  rem? Iure magni aspernatur aut repellendus, blanditiis enim placeat alias at
  assumenda aliquam nihil! Accusamus eius rerum placeat! Reiciendis tempora
  omnis eaque consequatur expedita. Cupiditate tempora, error hic in, tempore
  repudiandae provident voluptatibus placeat ullam, qui illum et? In quidem
  accusantium est dolore tempore, quae laboriosam officiis? Ducimus fugiat ipsa
  repellendus eos voluptas dolorum necessitatibus assumenda, ut debitis quam!
  Ipsam, quibusdam ut? Officia eligendi ea vero aliquid alias reprehenderit qui
  placeat! Ratione eaque impedit mollitia saepe, nemo corporis similique vitae
  aut nobis! Est, similique recusandae facere nam unde fuga hic sint placeat
  nemo modi ipsum officiis numquam distinctio mollitia eius saepe veniam labore!
  Sed deleniti, nam tempora velit, qui ratione omnis similique odit eum vel ipsa
  ab a ipsam? Delectus molestiae fugit fuga maxime hic consequatur cupiditate
  sunt totam officiis. Inventore, consequuntur.
</div>
