<div class="side-bar">
  <div class="side-bar__header">
    <h1>Dashboard</h1>
  </div>
  <div class="side-bar__content">
    <h2>Products</h2>
    <div>
      <ul>
        <li>
          <a routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li>
          <a routerLink="/add-product" routerLinkActive="active">Add Product</a>
        </li>
        <li>
          <a routerLink="/orders" routerLinkActive="active">Orders</a>
        </li>
      </ul>
    </div>
    <h2>Categories</h2>
    <div>
      <ul>
        <li>
          <a routerLink="/categories" routerLinkActive="active">Categories</a>
        </li>
        <li>
          <a routerLink="/add-category" routerLinkActive="active"
            >Add Category</a
          >
        </li>
      </ul>
    </div>
  </div>

  <p-tree [value]="files" styleClass="w-full md:w-[30rem]" />
</div>
