<p-table 
  [value]="users" 
  responsiveLayout="scroll"
  class="shadow-xl rounded-xl border border-gray-200 overflow-hidden"
  [tableStyle]="{'min-width': '1000px'}"
>
 
  <ng-template pTemplate="header">
    <tr class="bg-gray-100 text-gray-800 text-sm font-semibold">
      <th class="p-3">Profile</th>
      <th class="p-3">Full Name</th>
      <th class="p-3">Email</th>
      <th class="p-3">Phone</th>
      <th class="p-3">Role</th>
      <th class="p-3">Address</th>
      <th class="p-3 text-center">Wishlist Count</th>
    </tr>
  </ng-template>

  
  <ng-template pTemplate="body" let-user>
    <tr class="hover:bg-gray-50 transition duration-300 text-sm text-gray-700">
   
      <td class="p-3 flex items-center justify-center">
        <img 
          [src]="user.profileimage || 'assets/default-avatar.png'" 
          alt="User Avatar" 
          class="w-8 h-8 rounded-full object-cover"
        />
      </td>

     
      <td class="p-3">{{ user.name }}</td>


      <td class="p-3">{{ user.email }}</td>

     
      <td class="p-3">{{ user.phone || 'N/A' }}</td>

      <td class="p-3 capitalize">{{ user.role }}</td>

      <td class="p-3">
        <ul class="list-disc list-inside space-y-1">
          <li *ngFor="let address of user.address">{{ address }}</li>
        </ul>
      </td>

   
      <td class="p-3 text-center font-bold text-indigo-600">
        {{ user.wishlist.length }}
      </td>
    </tr>
  </ng-template>
</p-table>