body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  background-color: var(--main-color);
  height: 60px;
}

.container {
  display: flex;
  height: calc(100vh - 60px);
}

.side-bar {
  background-color: var(--main-color-alt);
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  width: 300px;
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}
