/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";

:root {
  --main-color: #636363;
  --main-color-alt: #1787e0;
  /* --main-padding-top: 100px;
  --main-padding-bottom: 100px; */
  --section-background: #0055ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", "sans-serif";
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */
